.content{
	border:solid;
}
body{
	padding-top: 10%;
	background-color: #fff5e6;
 
}
h1{
	text-align: center;
	font-size: 50px;
	padding-top: 1%;

}
#id1{
	border:solid;
	text-align: center;
	font-size: 30px;
	background-color: darkblue;

}
h2{
	color:white;
}
.borders{
	border:solid;
}
p{
	font-size: 20px;
	text-align: center;
}
.class2{
	color: white;
	background-color: darkblue;
	
}
.button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.pad{
  padding-top: 7px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff5e6;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: green;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: darkblue;
}